body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f2f2f2;
  text-align: center;
}
.hidden {
  display: none;
}
#choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#choices button {
  margin: 5px 0;
}

#intro label, #intro select {
  margin-right: 5px;
}

#leaderboard {
  margin-top: 20px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}
